.navbarCircus {
    font-size: 20px !important;
 
    a.navbar-brand {
        font-size: 20px !important;
        color: rgb(92, 184, 1);
        padding-left: 20px;

    }
 
    .navbarCart{
        // padding-left: 25vh;
        // padding-right:25vh;

    }
    a{
        color: rgb(92, 184, 1) !important;
        padding-left: 15vh;
        padding-right:15vh;


    }
}